.spacer {
  flex: 1 1 auto; 
}

.avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
  border: 1px solid rgba(255,255,255,0.5);
  object-fit: cover; 
}

.active {
  background: rgba(255, 255, 255, 0.1); 
}