.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  /* Force full viewport width */
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
} 